<div [ngClass]="{ scrolled: wasScrolled }" class="container">
  <nav class="navbar">
    <!-- main logo -->
    <a (click)="scrollToTop()" routerLink="" class="main-logo-link">
      <img
        class="main-logo"
        src="../../../../assets/header/main-logo.png"
        alt="logo of the project Coffee Coder Trading"
      />
    </a>

    <!-- navigation links ul -->
    <ul class="links navigation-desktop">
      <!-- about -->
      <li
        (mouseenter)="showDropdownAboutUs()"
        (mouseleave)="hideDropdownAboutUs()"
        class="nav-list"
        [ngClass]="{ active: stateValueAboutUs }"
      >
        <!-- dropdown menu box -->
        <ul class="drop-down">
          <!-- triangle -->
          <li class="triangle-box">
            <div id="triangle"></div>
          </li>

          <!-- dropdown menu -->
          <div class="drop-down__list-box">
            <li>
              <a (click)="scrollToTop()" routerLink="about/what-we-do"
                >What We Do</a
              >
            </li>
            <li>
              <a (click)="scrollToTop()" routerLink="about/our-team"
                >Our Team</a
              >
            </li>
            <li>
              <a (click)="scrollToTop()" routerLink="about/awards">Awards</a>
            </li>
          </div>
        </ul>
        <a class="nav-initial-link" (click)="scrollToTop()" routerLink="about"
          >About Us</a
        >
      </li>

      <!-- research -->
      <li
        class="nav-list"
        (mouseenter)="showDropdownResearch()"
        (mouseleave)="hideDropdownResearch()"
        [ngClass]="{ active: stateValueResearch }"
      >
        <!-- dropdown menu box -->
        <ul class="drop-down">
          <!-- triangle -->
          <li class="triangle-box">
            <div id="triangle"></div>
          </li>

          <!-- dropdown menu -->
          <div class="drop-down__list-box">
            <li>
              <a (click)="scrollToTop()" routerLink="research/about-research"
                >About Research</a
              >
            </li>
            <li>
              <a (click)="scrollToTop()" routerLink="research/research-reports"
                >Research Reports</a
              >
            </li>
          </div>
        </ul>
        <a
          class="nav-initial-link"
          (click)="scrollToTop()"
          routerLink="research"
          >Research</a
        >
      </li>

      <!-- brokerage -->
      <li
        class="nav-list"
        (mouseenter)="showDropdownBrokerage()"
        (mouseleave)="hideDropdownBrokerage()"
        [ngClass]="{ active: stateValueBrokerage }"
      >
        <!-- dropdown menu box -->
        <ul class="drop-down">
          <!-- triangle -->
          <li class="triangle-box">
            <div id="triangle"></div>
          </li>

          <!-- dropdown menu -->
          <div class="drop-down__list-box">
            <li>
              <a (click)="scrollToTop()" routerLink="brokerage/about-brokerage"
                >About Brokerage</a
              >
            </li>
            <li>
              <a
                (click)="scrollToTop()"
                routerLink="brokerage/brokerage-services-agreements"
                >Service Agreements</a
              >
            </li>
          </div>
        </ul>
        <a
          class="nav-initial-link"
          (click)="scrollToTop()"
          routerLink="brokerage"
          >Brokerage</a
        >
      </li>

      <!-- Investments -->
      <li
        class="nav-list"
        (mouseenter)="showDropdownInverstments()"
        (mouseleave)="hideDropdownInverstments()"
        [ngClass]="{ active: stateValueInverstments }"
      >
        <!-- dropdown menu box -->
        <ul class="drop-down">
          <!-- triangle -->
          <li class="triangle-box">
            <div id="triangle"></div>
          </li>

          <!-- dropdown menu -->
          <div class="drop-down__list-box">
            <li>
              <a
                (click)="scrollToTop()"
                routerLink="investments/about-investments"
                >About Inverstments</a
              >
            </li>
            <li>
              <a (click)="scrollToTop()" routerLink="investments/e-books"
                >E-books</a
              >
            </li>
          </div>
        </ul>
        <a
          class="nav-initial-link"
          (click)="scrollToTop()"
          routerLink="investments"
          >Inverstments</a
        >
      </li>

      <!-- Inverstments Banking -->
      <li
        class="nav-list"
        (mouseenter)="showDropdownInverstmentsBanking()"
        (mouseleave)="hideDropdownInverstmentsBanking()"
        [ngClass]="{ active: stateValueInverstmentsBanking }"
      >
        <!-- dropdown menu box -->
        <ul class="drop-down">
          <!-- triangle -->
          <li class="triangle-box">
            <div id="triangle"></div>
          </li>

          <!-- dropdown menu -->
          <div class="drop-down__list-box">
            <li>
              <a
                (click)="scrollToTop()"
                routerLink="investments-banking/about-investments-banking"
                >About Investments Banking</a
              >
            </li>
            <li>
              <a
                (click)="scrollToTop()"
                routerLink="investments-banking/investments-banking-transactions"
                >Transactions</a
              >
            </li>
          </div>
        </ul>
        <a
          class="nav-initial-link"
          (click)="scrollToTop()"
          routerLink="investments-banking"
          >Inverstment Banking</a
        >
      </li>

      <!-- Media -->
      <!-- <li
        class="nav-list"
        (mouseenter)="showDropdownMedia()"
        (mouseleave)="hideDropdownMedia()"
        [ngClass]="{ active: stateValueMedia }"
      >
        <ul class="drop-down">
          <li class="triangle-box">
            <div id="triangle"></div>
          </li>

          <div class="drop-down__list-box">
            <li>
              <a (click)="scrollToTop()" routerLink="#">Press Releases</a>
            </li>
            <li>
              <a (click)="scrollToTop()" routerLink="#">Blog</a>
            </li>
            <li>
              <a (click)="scrollToTop()" routerLink="#">C&T inMedia</a>
            </li>
          </div>
        </ul>
        <a class="nav-initial-link" (click)="scrollToTop()" routerLink="#"
          >Media</a
        >
      </li> -->

      <!-- green button -->
      <li (click)="activateSubForm()">
        <app-green-button [content]="'SUBSCRIBE'"></app-green-button>
      </li>

      <!-- white button -->
      <!-- <li
        (mouseenter)="showDropdownClientLogIn()"
        (mouseleave)="hideDropdownClientLogIn()"
        class="white-button-container nav-list"
        [ngClass]="{ active: stateValueClientLogIn }"
      >
        <button class="white-button" routerLink="#">
          <span>CLIENT LOGIN</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="white-button-svg"
            [ngClass]="{ 'white-button-svg__active': stateValueClientLogIn }"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M19.5 8.25l-7.5 7.5-7.5-7.5"
            />
          </svg>
        </button>
        <ul class="drop-down-btn">
          <div class="drop-down-btn__list-box">
            <li>
              <a routerLink="#">TRADER</a>
            </li>
            <li>
              <a routerLink="#">DASHBOARD</a>
            </li>
          </div>
        </ul>
      </li> -->
    </ul>

    <div class="burger-menu-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
</div>
