@use "../../../../../global-styles/abstracts" as a;
@use "../../../../../global-styles/base" as b;

.container {
  max-width: b.$container-default-wudth;
  margin: auto;
  padding: 8rem 1.5rem;
}
.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
  h2 {
    font-size: b.$font-size-heading;
  }
}

.select-box {
  position: relative;

  & .select-type {
    position: absolute;
    left: 1.8rem;
    top: 1rem;
    color: a.$text-color;
    z-index: -1;
  }

  select {
    border: solid a.$imput-color-placeholder 1px;
    color: a.$text-color;
    cursor: pointer;
    padding: 3rem 1.5rem;
    padding-bottom: 1rem;
    border-radius: 0.4rem;
    width: 15rem;
    background-color: transparent;

    &:focus {
      border: solid a.$imput-color-placeholder 1px;
      outline: none;
    }
  }

  & span {
    letter-spacing: 1px;
  }
}

.team-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.5rem;
}

@media (max-width: 1250px) {
  .team-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5rem;
  }
}
@media (max-width: 950px) {
  .container {
    padding: 4rem 1.5rem;
  }
  .header-box {
    margin-bottom: 2rem;
    h2 {
      font-size: b.$font-size-heading-950;
    }
  }
}

@media (max-width: 870px) {
  .team-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5rem;
  }
}
@media (max-width: 750px) {
  .header-box {
    h2 {
      font-size: b.$font-size-heading-750;
    }
  }
}

@media (max-width: 630px) {
  .team-box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.5rem;
  }
}
@media (max-width: 500px) {
  .header-box {
    justify-content: flex-end;
    h2 {
      display: none;
    }
  }
}
