.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

// .image {
//   background-image: url("../../../assets/home/hero/hero-img-1.jpg");
//   background-position: center;
//   background-size: cover;
//   background-repeat: no-repeat;
//   height: 60rem;
// }
