@use "../../../../global-styles/abstracts" as a;
@use "../../../../global-styles/base" as b;

.card {
  padding: 2rem;
  border-radius: 1rem;
  border: solid a.$form-border-colod 2px;

  & img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    margin-bottom: 2rem;
  }

  & svg {
    width: 2.5rem;
    height: 2.5rem;
  }

  & *:link,
  & *:visited {
    text-decoration: none;
    color: a.$footer-link-color;
  }
}

.header {
  text-transform: uppercase;
  font-size: b.$font-size-sub-heading;
  letter-spacing: 1px;
  height: 4rem;
}

.position {
  color: a.$imput-color;
  height: 4rem;
}

.contact-link-box,
.contact-link-box:link,
.contact-link-box:visited {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: max-content;
  height: 2.5rem;
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

@media (max-width: 300px) {
  .card {
    padding: 1rem;
    & svg {
      width: 2rem;
      height: 2rem;
    }
  }
  .header {
    font-size: b.$font-size-sub-heading-750;
  }
  .position {
    font-size: b.$font-size-sub-heading-750;
  }

  .contact-link-box,
  .contact-link-box:link,
  .contact-link-box:visited {
    font-size: b.$font-size-sub-heading-750;
  }
}
