<div
  class="form-container"
  [ngClass]="{ 'active-form-bc': formActive,  'inactive-form-bc': !formActive, }"
>
  <form
    [formGroup]="submitionForm"
    (ngSubmit)="onSubmition()"
    class="form"
    [ngClass]="{ 'active-form': formActive }"
  >
    <!-- form header -->
    <div class="form-header">
      <span class="form-main-header">Subscribe to our news</span>
      <svg
        (click)="closeForm()"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </div>

    <div class="inputs-container">
      <!-- first name -->
      <input formControlName="firstname" placeholder="First Name" />

      <!-- last name -->
      <input formControlName="lastname" placeholder="Last Name" />

      <!-- email -->
      <input
        class="inpu-after-number"
        formControlName="email"
        type="email"
        name=""
        placeholder="Email"
      />
      <!-- phone -->
      <mat-form-field appearance="outline">
        <!-- <mat-label>Phone Number</mat-label> -->
        <app-tel-input formControlName="phoneNumber"></app-tel-input>
        <!-- <mat-error class="mt-3"> Please enter a valid phone number </mat-error> -->
      </mat-form-field>

      <!-- industry -->
      <select class="inpu-after-number" formControlName="industry">
        <option value="industry">Industry</option>
      </select>

      <!-- Country -->
      <select class="inpu-after-number" formControlName="country">
        <option value="country">Country</option>
      </select>

      <!-- Company -->
      <input
        class="inpu-after-number"
        formControlName="company"
        placeholder="Company"
      />

      <!-- Position -->
      <input
        class="inpu-after-number"
        formControlName="position"
        placeholder="Position"
      />

      <!-- Checkboxes -->
      <div formArrayName="checkboxes" class="checkbox-box">
        <div class="checkbox-box__header">Subscribe to:</div>

        <label class="container">
          Check Research
          <input formControlName="0" type="checkbox" />
          <span class="checkmark"></span>
        </label>

        <label class="container">
          Macroeconomics
          <input formControlName="1" type="checkbox" />
          <span class="checkmark"></span>
        </label>

        <label class="container">
          Sector Research
          <input formControlName="2" type="checkbox" />
          <span class="checkmark"></span>
        </label>

        <label class="container">
          Financial Market
          <input formControlName="3" type="checkbox" />
          <span class="checkmark"></span>
        </label>

        <label class="container">
          Weekly Updates
          <input formControlName="4" type="checkbox" />
          <span class="checkmark"></span>
        </label>

        <label class="container">
          Brokerage
          <input formControlName="5" type="checkbox" />
          <span class="checkmark"></span>
        </label>
      </div>

      <button
        type="submit"
        class="button-link-green"
        (click)="closeForm()"
        [disabled]="submitionForm.invalid"
      >
        SUBMIT
      </button>
    </div>
  </form>
</div>
