@use "../../../../global-styles/abstracts" as a;
@use "../../../../global-styles/base" as b;
// green button
.button-link-green,
.button-link-green:link,
.button-link-green:visited {
  display: block;
  padding: 1.7rem 2rem;
  border-radius: 0.5rem;
  background-color: a.$main-color-green;
  color: a.$main-color-white !important;
  width: max-content;
  text-decoration: none;
  transition: all 0.4s;
}
.button-link-green:hover,
.button-link-green:active {
  background-color: a.$main-color-green-shade;
  color: a.$main-color-white !important;
}
