@use "../../../../global-styles/abstracts" as a;
@use "../../../../global-styles/base" as b;
// green button
.button-link-green,
.button-link-green:link,
.button-link-green:visited {
  display: block;
  padding: 1.7rem 2rem;
  border-radius: 0.5rem;
  background-color: a.$main-color-green;
  color: a.$main-color-white !important;
  width: max-content;
  text-decoration: none;
  transition: all 0.4s;
}
.button-link-green:hover,
.button-link-green:active {
  background-color: a.$main-color-green-shade;
  color: a.$main-color-white !important;
}

@media (max-width: 950px) {
  // green button
  .button-link-green,
  .button-link-green:link,
  .button-link-green:visited {
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
  }
}
@media (max-width: 750px) {
  // green button
  .button-link-green,
  .button-link-green:link,
  .button-link-green:visited {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    border-radius: 0.3rem;
  }
}
