@use "../../../../../global-styles/abstracts" as a;
@use "../../../../../global-styles/base" as b;

// nefore content
.header-box {
  height: 18rem;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.3)
    ),
    url(../../../../../assets/investments/e-books/hero/hero.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

// vontent container
.container {
  margin: 0 auto;
  max-width: b.$container-default-wudth;
  padding: 10rem 1.5rem;

  display: grid;
  grid-template-columns: 3fr 1.5fr;
  column-gap: 2rem;
}

// left side book and text container
.book-info-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  column-gap: 2rem;

  & h2 {
    font-size: b.$font-size-heading;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    text-align: left;
    font-weight: 100;
    letter-spacing: 1px;
    color: a.$main-color-green;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: solid a.$form-border-colod 2px;
  }

  & img {
    width: 35rem;
    height: auto;
  }
}

//book and header
.book-and-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.subscription-box {
  position: relative;

  &__content {
    position: sticky;
    position: -webkit-sticky; /* For Safari */
    position: -ms-sticky; /* For old versions of Edge */
    position: -o-sticky; /* For Opera */
    position: -moz-sticky; /* For Firefox */

    top: 14rem;
    border: solid a.$imput-color-placeholder 1.5px;
    width: max-content;
    margin: 0 auto;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border-radius: 1rem;
    gap: 2.5rem;

    & span {
      font-size: 2.4rem;
      font-weight: 100;
      color: a.$headin-transparent-background;
    }
  }
}

.text-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-end;
  font-size: b.$font-size-sub-heading;
  color: a.$headin-transparent-background;
}

// image container
.ebook-img-container {
  position: relative;

  &__absol-img {
    position: absolute;
    width: 168px !important;
    height: 20rem;

    left: 83px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
    clip-path: polygon(0% 5%, 100% 0%, 100% 100%, 0% 96%);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (max-width: 1100px) {
  .container {
    grid-template-columns: 1fr;
  }
  .subscription-box {
    display: none;
  }
}
@media (max-width: 950px) {
  .container {
    margin: 0 auto;
    max-width: b.$container-default-wudth;
    padding: 5rem 1.5rem;
  }

  .book-info-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0rem;

    & h2 {
      font-size: b.$font-size-heading-950;
    }

    & img {
      width: 35rem;
      height: auto;
    }
  }

  .text-box {
    font-size: b.$font-size-sub-heading-950;
  }

  .subscription-box {
    display: none;
  }
}

@media (max-width: 750px) {
  .container {
    margin: 0 auto;
    max-width: b.$container-default-wudth;
    padding: 5rem 1.5rem;
  }

  .book-info-box {
    display: flex;
    flex-direction: column;

    & h2 {
      font-size: b.$font-size-heading-750;
    }

    & img {
      width: 35rem;
      height: auto;
    }
  }

  .text-box {
    font-size: b.$font-size-sub-heading-750;
  }
}
@media (max-width: 500px) {
  .container {
    margin: 0 auto;
    max-width: b.$container-default-wudth;
    padding: 5rem 1.5rem;
  }

  .book-info-box {
    display: flex;
    flex-direction: column;

    & h2 {
      font-size: b.$font-size-heading-500;
    }

    & img {
      width: 23rem;
      height: auto;
    }
  }

  // image container
  .ebook-img-container {
    position: relative;

    &__absol-img {
      position: absolute;
      width: 109.9px !important;
      height: 12rem;

      left: 54.8px;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0.5;
      clip-path: polygon(0% 5%, 100% 0%, 100% 100%, 0% 96%);

      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .text-box {
    font-size: b.$font-size-sub-heading-500;
  }
}
