<!-- for background callor stretched -->
<div class="services-container">
  <!-- for width control -->
  <div class="servicess-width-cntainer">
    <!-- for content -->
    <div class="service">
      <h2>Our services</h2>

      <div class="service__grid">
        <div
          (mouseenter)="onMouseenterImg1()"
          (mouseleave)="onMouseLeaveImg1()"
          class="service__one service__img"
        >
          <div [ngClass]="{ active: stateImg1 }" class="service__item-content">
            <h5>Brokerage Services</h5>
            <p>
              Brokerage services involve intermediaries assisting clients in
              trading various financial assets, like stocks and bonds.
            </p>
            <app-green-button
              [linkTo]="'brokerage/about-brokerage'"
              [content]="'READ MORE'"
            ></app-green-button>
          </div>
        </div>

        <div
          (mouseenter)="onMouseenterImg2()"
          (mouseleave)="onMouseLeaveImg2()"
          class="service__two service__img"
        >
          <div
            [ngClass]="{ active: stateImg2 }"
            class="service__item-content active"
          >
            <h5>Investment Banking</h5>
            <p>
              Investment banking services encompass financial firms aiding
              businesses in raising capital, mergers and acquisitions, and
              advisory services.
            </p>
            <app-green-button
              [linkTo]="'investments/e-books'"
              [content]="'READ MORE'"
            ></app-green-button>
          </div>
        </div>

        <div
          (mouseenter)="onMouseenterImg3()"
          (mouseleave)="onMouseLeaveImg3()"
          class="service__three service__img"
        >
          <div
            [ngClass]="{ active: stateImg3 }"
            class="service__item-content active"
          >
            <h5>Research</h5>
            <p>
              Research services involve in-depth analysis and data collection to
              provide valuable insights and information. These services aid
              decision-making and strategy development.
            </p>
            <app-green-button
              [linkTo]="'research/research-reports/all'"
              [content]="'READ MORE'"
            ></app-green-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
