<!-- hero -->
<app-page-hero
  [backgrounUrl]="'../../../../assets/research/hero/hero.jpg'"
  [buttonContent]="''"
  [inputLink]="''"
>
  <h2>About Research</h2>
  <p>
    Our research team is dedicated to providing our clients with the knowledge
    they need to make informed decisions and stay ahead of market trends.
    Explore our collection of reports, studies, and analyses, and gain valuable
    insights that can empower your financial strategies.
  </p>
</app-page-hero>

<!-- contents -->
<div class="latest-reports">
  <h3 class="reports-header">ABOUT RESEARCH</h3>

  <div class="research-title">
    <p>
      At Coffee Coder Trading, our dedicated research team is committed to
      equipping our clients with the knowledge they need to make well-informed
      decisions and stay ahead of market trends.
    </p>
    <p>
      Our extensive collection of reports, studies, and analyses offers valuable
      insights to empower your financial strategies.
    </p>
  </div>

  <ul class="research-coverage-list">
    <p class="research-coverage-list__heading">OUR RESEARCH EXPERTISE</p>

    <li>
      <span>Sector Exploration: </span> We delve deeply into pivotal sectors of
      the Georgian economy, uncovering and communicating investment
      opportunities. Our focus revolves around essential trends, profitability
      evaluations, growth projections, and forecasts.
    </li>
    <li>
      <span>Fixed Income Insights: </span> Our team extensively covers Georgian
      and regional fixed income securities. We place a distinct emphasis on
      overarching macroeconomic trends and market perspectives, ensuring our
      clients stay well-informed in the ever-evolving landscape.
    </li>
    <li>
      <span>Our research: </span> endeavors are meticulously designed to empower
      investors with a profound understanding of the factors and shifts
      influencing businesses, industries, and financial markets.
    </li>
  </ul>

  <div class="costumer-research-box">
    <p>BESPOKE RESEARCH SOLUTIONS</p>

    <p>
      Our commitment to providing personalized research solutions ensures that
      we deliver reports customized to meet the unique requirements of our
      clients. These tailored reports serve to identify investment prospects and
      provide invaluable insights into the dynamics impacting their businesses
      and industries. Our extensive array of services includes comprehensive
      sector research, business plan development, feasibility studies, and
      financial modeling, catering to the needs of both local and foreign
      investors.
    </p>
  </div>

  <div class="latest-reports-heading-box">
    <h3 class="reports-header">LATEST REPORTS</h3>
    <span (click)="onNavigateToReports()" href="#">View All</span>
  </div>

  <div class="cntainer">
    <div *ngFor="let researchCard of researchArray" class="card-cntainer">
      <app-research-card [researchItem]="researchCard"></app-research-card>
    </div>
  </div>
</div>
