<app-page-hero
  [backgrounUrl]="'../../../../assets/about/awards/hero/awards-hero.jpg'"
  [buttonContent]="''"
  [inputLink]="''"
>
  <!-- content of the hero -->
  <h2>Our Awards</h2>
  <p>
    Over the years, Coffee Coder Trading has been recognized for excellence in
    various facets of the financial industry. These honors serve as a testament
    to our unwavering commitment to delivering outstanding results for our
    clients. We are honored to share our journey of success.
  </p>
</app-page-hero>
