<app-page-hero
  [backgrounUrl]="'../../../../assets/about/awards/hero/awards-hero.jpg'"
  [buttonContent]="''"
  [inputLink]="''"
>
  <!-- content of the hero -->
  <h2>RECOGNITIONS</h2>
  <p>
    Throughout our extensive journey, Coffee and Trading has amassed a wealth of
    accolades, solidifying our position as an industry trailblazer and a
    foremost authority in the realm of investment banking and financial
    management. Our dedication to excellence remains unwavering, and our
    commitment to delivering exceptional results for our clients continues to be
    at the forefront of our mission.
  </p>
</app-page-hero>
