@use "../../../../../global-styles/abstracts" as a;
@use "../../../../../global-styles/base" as b;

h2 {
  font-size: b.$font-size-heading;
}
p {
  font-size: b.$font-size-sub-heading;
  width: 80%;
  line-height: 25px;
}
