@use "../../../../../global-styles/abstracts" as a;
@use "../../../../../global-styles/base" as b;

// sec-heading
.sec-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 5rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  max-width: b.$container-large-width;
  margin: 0 auto;

  & h3 {
    font-size: b.$font-size-heading;
    margin-bottom: 0;

    & span {
      color: a.$main-color-green;
    }
  }
}

.select-box {
  position: relative;

  & .select-type {
    position: absolute;
    left: 1.5rem;
    top: 1rem;
    color: a.$text-color;
    z-index: -1 !important;
    cursor: default;
  }

  select {
    border: solid a.$imput-color-placeholder 1px;
    color: a.$text-color;
    cursor: pointer;
    padding: 3rem 1.5rem;
    padding-bottom: 1rem;
    border-radius: 0.4rem;
    width: 15rem;
    background-color: transparent;

    &:focus {
      border: solid a.$imput-color-placeholder 1px;
      outline: none;
    }
  }

  & span {
    letter-spacing: 1px;
  }
}

@media (max-width: 950px) {
  .sec-heading {
    padding: 4rem 1.5rem;

    & h3 {
      font-size: b.$font-size-heading-950;
    }
  }
}

@media (max-width: 750px) {
  .sec-heading {
    padding: 4rem 1.5rem;

    & h3 {
      font-size: b.$font-size-heading-750;
    }
  }
}

@media (max-width: 500px) {
  .sec-heading {
    padding: 2rem 1.5rem;
    justify-content: center;

    & h3 {
      display: none;
      font-size: b.$font-size-heading-500;
    }
  }
  .select-box {
    transform: scale(0.8);
  }
}

@media (max-width: 400px) {
  .sec-heading {
    padding: 4rem 1.5rem;
  }
}
