<!-- hero -->
<app-page-hero
  [backgrounUrl]="
    '../../../../assets/inverstments-banking/transactions/hero/hero.jpg'
  "
  [buttonContent]="''"
  [inputLink]="''"
>
  <!-- content of the hero -->
  <h2 class="hero-heading">Transactions</h2>
  <p class="hero-sub-heading">
    Welcome to the Coffee Coder Trading Transactions Page, your window into the
    world of financial operations. In this section, we provide a transparent and
    up-to-date overview of all financial transactions conducted by our clients
    and partners.
  </p>
</app-page-hero>

<!-- control -->
<app-transaction-controls></app-transaction-controls>

<!-- content -->
<app-transactions-content></app-transactions-content>
