@use "../../../../global-styles/abstracts" as a;
@use "../../../../global-styles/base" as b;

// hero
.hero-heading {
  font-size: b.$font-size-heading;
}
.hero-sub-heading {
  font-size: b.$font-size-sub-heading;
  width: 80%;
  line-height: 25px;
}

@media (max-width: 950px) {
  .hero-heading {
    font-size: b.$font-size-heading-950;
  }
  .hero-sub-heading {
    font-size: b.$font-size-sub-heading-950;
    max-width: 80%;
    line-height: 25px;
  }
}
@media (max-width: 750px) {
  .hero-heading {
    font-size: b.$font-size-heading-750;
  }
  .hero-sub-heading {
    font-size: b.$font-size-sub-heading-750;
    max-width: 80%;
    line-height: 18px;
  }
}
@media (max-width: 500px) {
  .hero-heading {
    font-size: b.$font-size-heading-500;
  }
  .hero-sub-heading {
    font-size: b.$font-size-sub-heading-500;
    max-width: 100%;
  }
}
@media (max-width: 400px) {
  .hero-heading {
    font-size: b.$font-size-heading-400;
  }
  .hero-sub-heading {
    font-size: b.$font-size-sub-heading-400;
    max-width: 100%;
  }
}

@media (max-width: 1250px) {
  .team-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5rem;
  }
}
@media (max-width: 950px) {
  .container {
    padding: 4rem 1.5rem;
  }
  .header-box {
    margin-bottom: 2rem;
    h2 {
      font-size: b.$font-size-heading-950;
    }
  }
}
