<!-- hero -->
<app-page-hero
  [backgrounUrl]="
    '../../../../assets/inverstments-banking/transactions/hero/hero.jpg'
  "
  [buttonContent]="''"
  [inputLink]="''"
>
  <!-- content of the hero -->
  <h2>Transactions</h2>
  <p>
    Welcome to the Coffee Coder Trading Transactions Page, your window into the
    world of financial operations. In this section, we provide a transparent and
    up-to-date overview of all financial transactions conducted by our clients
    and partners.
  </p>
  <p>
    Whether you're interested in tracking recent investments, capital raising
    activities, or strategic moves in the market, our Transactions Page offers a
    comprehensive view of the financial activities that shape our clients'
    success.
  </p>
</app-page-hero>

<!-- control -->
<app-transaction-controls></app-transaction-controls>

<!-- content -->
<app-transactions-content></app-transactions-content>
