@use "../../../../global-styles/abstracts" as a;
@use "../../../../global-styles/base" as b;

// hero
.hero-heading {
  font-size: b.$font-size-heading;
}
.hero-sub-heading {
  font-size: b.$font-size-sub-heading;
  width: 80%;
  line-height: 25px;
}

// comtent
.content-container {
  margin: 0 auto;
  max-width: b.$container-default-wudth;
  padding: 8rem 1.5rem;
}

.first-texy-box {
  & h2 {
    font-size: b.$font-size-heading;
    margin-bottom: 6rem;
  }

  & p {
    margin-bottom: 6rem;
  }
}
.second-texy-box {
  & h4 {
    font-size: b.$font-size-sub-heading;
    margin-bottom: 3rem;
  }

  & div {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    margin-bottom: 8rem;
  }
}

// list grid
.grid-table {
  display: grid;
  grid-template-columns: 1fr 3fr 1.5fr;
  color: a.$text-color;

  & ul {
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    & li:first-child {
      border-bottom: none;
      font-size: 2rem;
    }
    & li:last-child {
      border-bottom: none;
    }
    & li {
      font-size: 1.6rem;
      padding: 1.5rem 1rem;

      &:first-child {
        height: 2rem;
        font-weight: 600;
        letter-spacing: 2px;
      }
      list-style: none;
    }
  }

  &__type-1 {
    & li:first-child {
      background-color: a.$main-color-white;
    }
    & li {
      background-color: a.$text-color;
      color: a.$main-color-white;
      border-radius: 0.5rem;
    }
  }
  &__type-2 {
    margin-left: 1rem !important;
    & li {
      border-bottom: solid a.$text-color 1px;
      transform: translateY(0.1rem);
    }
  }
  &__type-3 {
    & li {
      border-bottom: solid a.$text-color 1px;
      transform: translateY(0.1rem);
    }
  }
}

@media (max-width: 1150px) {
  // list grid
  .grid-table {
    display: grid;
    grid-template-columns: 1fr;

    & li:first-child {
      border-bottom: none;
      transform: translateY(1rem);
      background-color: transparent;
    }

    & ul {
      padding: 0;

      & li {
        padding: 1rem;
        font-size: b.$font-size-sub-heading-950 !important;
      }
    }
  }
}

@media (max-width: 950px) {
  .hero-heading {
    font-size: b.$font-size-heading-950;
  }
  .hero-sub-heading {
    font-size: b.$font-size-sub-heading-950;
    max-width: 80%;
    line-height: 25px;
  }

  .content-container {
    font-size: b.$font-size-sub-heading-950;
  }
  .first-texy-box {
    & h2 {
      font-size: b.$font-size-heading-950;
      margin-bottom: 2rem;
    }

    & p {
      margin-bottom: 3rem;
    }
  }
  .second-texy-box {
    & h4 {
      font-size: b.$font-size-sub-heading-950;
      margin-bottom: 2rem;
      font-weight: 600;
    }

    & div {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 4rem;
    }
  }
}
@media (max-width: 750px) {
  .hero-heading {
    font-size: b.$font-size-heading-750;
  }
  .hero-sub-heading {
    font-size: b.$font-size-sub-heading-750;
    max-width: 80%;
    line-height: 18px;
  }
  // comtent
  .content-container {
    padding: 4rem 1.5rem;
  }
  .content-container {
    font-size: b.$font-size-sub-heading-750;
  }
  .first-texy-box {
    & h2 {
      font-size: b.$font-size-heading-750;
      margin-bottom: 2rem;
    }

    & p {
      margin-bottom: 3rem;
    }
  }
  .second-texy-box {
    & h4 {
      font-size: b.$font-size-sub-heading-750;
      margin-bottom: 2rem;
      font-weight: 600;
    }

    & div {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 4rem;
    }
  }

  // list grid
  .grid-table {
    display: grid;
    grid-template-columns: 1fr;

    & li:first-child {
      border-bottom: none;
      transform: translateY(1rem);
      background-color: transparent;
    }

    & ul {
      padding: 0;

      & li {
        padding: 1rem;
        font-size: b.$font-size-sub-heading-750 !important;
      }
    }
  }
}
@media (max-width: 500px) {
  .hero-heading {
    font-size: b.$font-size-heading-500;
  }
  .hero-sub-heading {
    font-size: b.$font-size-sub-heading-500;
    max-width: 100%;
  }

  .content-container {
    padding: 4rem 1.5rem;
  }
  .content-container {
    font-size: b.$font-size-sub-heading-500;
  }
  .first-texy-box {
    & h2 {
      font-size: b.$font-size-heading-500;
      margin-bottom: 2rem;
    }

    & p {
      margin-bottom: 3rem;
    }
  }
  .second-texy-box {
    & h4 {
      font-size: b.$font-size-sub-heading-500;
      margin-bottom: 2rem;
      font-weight: 600;
    }

    & div {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 0rem;
    }
  }
  // list grid
  .grid-table {
    display: grid;
    grid-template-columns: 1fr;

    & li:first-child {
      border-bottom: none;
      transform: translateY(1rem);
      background-color: transparent;
    }

    & ul {
      padding: 0;

      & li {
        padding: 1rem;
        font-size: b.$font-size-sub-heading-500 !important;
      }
    }
  }
}
@media (max-width: 400px) {
  .hero-heading {
    font-size: b.$font-size-heading-400;
  }
  .hero-sub-heading {
    font-size: b.$font-size-sub-heading-400;
    max-width: 100%;
  }

  .content-container {
    padding: 4rem 1.5rem;
  }
  .content-container {
    font-size: b.$font-size-sub-heading-400;
  }
  .first-texy-box {
    & h2 {
      font-size: b.$font-size-heading-400;
      margin-bottom: 2rem;
    }

    & p {
      margin-bottom: 3rem;
    }
  }
  .second-texy-box {
    & h4 {
      font-size: b.$font-size-sub-heading-400;
      margin-bottom: 2rem;
      font-weight: 600;
    }

    & div {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 0rem;
    }
  }
}
