<!-- hero -->
<app-page-hero
  [backgrounUrl]="'../../../../assets/brokerage/landing-page/hero.jpg'"
  [buttonContent]="''"
  [inputLink]="''"
>
  <!-- content of the hero -->
  <h2>Coffee Coder Brokerage</h2>
  <p>
    With its inception in 2023, Coffee Coder Trading has swiftly risen to
    prominence as a leading brokerage firm in Georgia and the surrounding
    region. At Coffee Coder Trading, we are synonymous with excellence and offer
    a full spectrum of services, encompassing execution, custody, and access to
    a cutting-edge trading platform. Trust us to provide a holistic approach to
    fulfill your investment requirements.
  </p>
</app-page-hero>

<!-- content -->
<div class="content-container">
  <!-- first text  box -->
  <div class="first-texy-box">
    <h2>ABOUT BROKERAGE</h2>
    <p>
      With its inception in 2023, Coffee Coder Trading has swiftly risen to
      prominence as a leading brokerage firm in Georgia and the surrounding
      region. At Coffee Coder Trading, we are synonymous with excellence and
      offer a full spectrum of services, encompassing execution, custody, and
      access to a cutting-edge trading platform. Trust us to provide a holistic
      approach to fulfill your investment requirements.
    </p>
  </div>
  <!-- seconf text  box -->
  <div class="second-texy-box">
    <h4>OUR OFFERING</h4>
    <div>
      <p>
        Coffee Coder Capital offers a streamlined experience for our valued
        clients with two primary types of investment accounts: traditional and
        digital.
      </p>
      <p>
        Traditional Investment Account: With a traditional investment account,
        you can access local and regional markets, unlocking opportunities in a
        variety of financial instruments. This account type connects you with a
        dedicated advisor who not only keeps you informed about your areas of
        interest but also manages investments on your behalf.
      </p>
      <p>
        Our digital investment account opens the door to global markets,
        covering the US, EU, AP, and more. You can invest in a diverse range of
        international securities through our user-friendly online platform. Gain
        access to over 35,000 assets, including stocks, ETFs, bonds, CFDs,
        futures, options, and forex. Our online trading platform is easily
        accessible from your web browser on any device. For a more professional
        experience, you can install our G&T Investor Pro application on your PC
        or even trade on the go via our IOS/Android App.
      </p>
      <p>
        As an added convenience, we've developed the Coffee Coder Capital Client
        Portal, offering a consolidated view of your portfolio for both
        traditional and digital investment accounts, all in one place.
      </p>
    </div>
  </div>

  <div class="grid-table">
    <ul class="grid-table__type-1">
      <li></li>
      <li>Exchange</li>
      <li>Trading support</li>
      <li>Investment portal</li>
      <li>Trading times</li>
      <li>Offerings</li>
      <li>Security Services</li>
    </ul>

    <ul class="grid-table__type-2">
      <li>Web-Based Trading Platform</li>
      <li>Global</li>
      <li>Independent Trading</li>
      <li>Investor</li>
      <li>Round-the-clock</li>
      <li>Diversity, ETF, Bond Investments</li>
      <li>Wells Fargo, Deutsche Bank</li>
    </ul>

    <ul class="grid-table__type-3">
      <li>Transaction Brokerage</li>
      <li>Domestic, Area, Worldwide</li>
      <li>Brokerage Assistance</li>
      <li>Customer Dashboard</li>
      <li>Restricted Schedule</li>
      <li>Equality, Exchange-Traded Derivatives</li>
      <li>Euroclear, Clearstream</li>
    </ul>
  </div>
</div>
