@use "../../../../global-styles/abstracts" as a;
@use "../../../../global-styles/base" as b;

// hero
.hero-heading {
  font-size: b.$font-size-heading;
}
.hero-sub-heading {
  font-size: b.$font-size-sub-heading;
  width: 80%;
  line-height: 25px;
}

// content

.content-cotainer {
  max-width: b.$container-default-wudth;
  margin: 0 auto;
  padding: 8rem 1.5rem;

  // hero
  h2 {
    font-size: b.$font-size-heading;
    color: a.$main-color-green;
  }
}

.items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

@media (max-width: 1100px) {
  .content-cotainer {
    // hero
    h2 {
      margin-bottom: 5rem;
    }
  }
}
@media (max-width: 950px) {
  .hero-heading {
    font-size: b.$font-size-heading-950;
  }
  .hero-sub-heading {
    font-size: b.$font-size-sub-heading-950;
    max-width: 80%;
    line-height: 25px;
  }

  .content-cotainer {
    padding: 5rem 1.5rem;
    h2 {
      font-size: b.$font-size-heading-950;
      margin-bottom: 3rem;
    }
  }
}
@media (max-width: 750px) {
  .hero-heading {
    font-size: b.$font-size-heading-750;
  }
  .hero-sub-heading {
    font-size: b.$font-size-sub-heading-750;
    max-width: 80%;
    line-height: 18px;
  }
  .content-cotainer {
    padding: 3rem 1.5rem;
    h2 {
      font-size: b.$font-size-heading-750;
      margin-bottom: 2rem;
    }
  }
  .items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
}
@media (max-width: 500px) {
  .hero-heading {
    font-size: b.$font-size-heading-500;
  }
  .hero-sub-heading {
    font-size: b.$font-size-sub-heading-500;
    max-width: 100%;
  }
  .content-cotainer {
    padding: 2rem 1.5rem 4rem 1.5rem;
    h2 {
      font-size: b.$font-size-heading-500;
    }
  }
}
@media (max-width: 400px) {
  .hero-heading {
    font-size: b.$font-size-heading-400;
  }
  .hero-sub-heading {
    font-size: b.$font-size-sub-heading-400;
    max-width: 100%;
  }
  .content-cotainer {
    h2 {
      font-size: b.$font-size-heading-400;
    }
  }
}
