@use "../../../../global-styles/abstracts" as a;
@use "../../../../global-styles/base" as b;

// hero
.hero-heading {
  font-size: b.$font-size-heading;
}
.hero-sub-heading {
  font-size: b.$font-size-sub-heading;
  width: 80%;
  line-height: 25px;
}

// content
.main-container {
  max-width: b.$container-default-wudth;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.books-container {
  margin: 0 0 8rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  column-gap: 2rem;
  row-gap: 4rem;
}

.pagination-box {
  transform: translateY(-8rem);
}

@media (max-width: 950px) {
  .hero-heading {
    font-size: b.$font-size-heading-950;
  }
  .hero-sub-heading {
    font-size: b.$font-size-sub-heading-950;
    max-width: 80%;
    line-height: 25px;
  }
}
@media (max-width: 750px) {
  .hero-heading {
    font-size: b.$font-size-heading-750;
  }
  .hero-sub-heading {
    font-size: b.$font-size-sub-heading-750;
    max-width: 80%;
    line-height: 18px;
  }

  .books-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 3rem;
  }
}
@media (max-width: 500px) {
  .hero-heading {
    font-size: b.$font-size-heading-500;
  }
  .hero-sub-heading {
    font-size: b.$font-size-sub-heading-500;
    max-width: 100%;
  }

  .books-container {
    grid-template-columns: 1fr;
    column-gap: 2rem;
    row-gap: 3rem;
  }
}
@media (max-width: 400px) {
  .hero-heading {
    font-size: b.$font-size-heading-400;
  }
  .hero-sub-heading {
    font-size: b.$font-size-sub-heading-400;
    max-width: 100%;
  }
}
