<div class="section-container">
  <!-- heading  for section with search -->
  <div #awardsContainer class="sec-heading">
    <div class="year-select-box">
      <span>Year</span>
      <select (change)="onChangeSelectedYear($event)">
        <option value="all">All</option>
        <option value="2015">2015</option>
        <option value="2016">2016</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
      </select>
    </div>
  </div>

  <!-- displaying awards -->
  <ng-container>
    <div class="awards-container">
      <app-award-card
        *ngFor="
          let award of awardsArray.slice(
            (currentPage - 1) * itemsPerPage,
            currentPage * itemsPerPage
          )
        "
        [award]="award"
      ></app-award-card>
    </div>
  </ng-container>

  <app-pagination-shared-componenet
    *ngIf="awardsArray.length / itemsPerPage > 1"
    [currentPage]="currentPage"
    [itemsPerPage]="itemsPerPage"
    [totalItems]="awardsArray.length"
    [itemsContainer]="awardsContainer"
    (pageChange)="onPageChange($event)"
  ></app-pagination-shared-componenet>
</div>
