// main color
$main-color-white: #fff;
$main-color-white-gradient: #f2f3f7;

$main-color-green: #83b75b;
$main-color-green-shade: #a8cd8c;

$text-color: #111111;

$imput-color: #999;
$form-border-colod: #eaeaea;

$color-cmall-date: #f59e3f;

// before footer
$footer-link-color: #e65b5c;
$footer-social-links-color: #6a6d7b;

// heading
$headin-transparent-background: rgba(17, 17, 17, 0.7);
$nav-white-button-background-color: #6a6d7b;

// footer
$footer-background-color: #eaeaea;

$blog-card-hover: #f2f3f7;
