@use "../../../../global-styles/abstracts" as a;
@use "../../../../global-styles/base" as b;

.about-hero {
  // background-image: linear-gradient(
  //     to right,
  //     rgba(0, 0, 0, 0.9),
  //     rgb(0, 0, 0, 0.4)
  //   ),
  //   url("../../../../assets/research/hero/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: a.$main-color-white;
}

.container {
  margin: 0 auto;
  height: b.$hero-height;
  max-width: b.$container-default-wudth;

  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  width: 50%;
}
