<div class="footer">
  <!-- footer -->
  <div class="main-footer-container">
    <div class="main-footer">
      <ul>
        <li class="logo-box">
          <img src="../../../assets/header/main-logo.png" />
        </li>

        <li class="contanc-us">
          <h3>Contact Us</h3>
          <a href="https://lukasportfolio.vercel.app" target="_blank">
            <span>General: </span>
            <span>Personal Portfolio</span>
          </a>
          <a href="https://coffee-driven-coder.vercel.app/" target="_blank">
            <span>Side Project: </span>
            <span>Coffee Driven Coder</span>
          </a>
          <a>
            <span>Email: </span>
            <span>lukagaganidzedev@gmail.com</span>
          </a>
        </li>

        <li class="quick-link">
          <h3>Quick Links</h3>
          <a routerLink="about">About</a>
          <a routerLink="research">Research</a>
          <a routerLink="brokerage">Brokerage</a>
          <a routerLink="investments">Inverstments</a>
          <a routerLink="investments-banking">Inverstment Banking</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- after footer -->
  <div class="after-footer">
    <h4>Luka Gaganidze 2023</h4>
  </div>
</div>
