<div class="footer">
  <!-- footer -->
  <div class="main-footer-container">
    <div class="main-footer">
      <ul>
        <li class="logo-box">
          <img src="../../../assets/header/main-logo.png" />
        </li>

        <li class="quick-link">
          <h3>Quick Links</h3>
          <a href="#">Disclaimer</a>
          <a href="#">Privacy Policy </a>
          <a href="#">Risk Warning</a>
        </li>

        <li class="contanc-us">
          <h3>Contact Us</h3>
          <a href="#">
            <span>General: </span>
            <span>gt@gt.ge </span>
          </a>
          <a href="#">
            <span>Brokerage: </span>
            <span>sales@gt.ge </span>
          </a>
          <a href="#">
            <span>Research: </span>
            <span>research@gt.ge </span>
          </a>
        </li>

        <li class="contanct">
          <h3></h3>
          <a href="#">
            <span>Wealth management: </span>
            <span> wm@bog.ge </span>
          </a>
          <a href="#">
            <span>Investments: </span>
            <span> support@gt.ge </span>
          </a>
          <a href="#">
            <span>Investment Banking: </span>
            <span> ib@gt.ge </span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- after footer -->
  <div class="after-footer">
    <h4>Luka Gaganidze 2023</h4>
  </div>
</div>
