<app-page-hero
  [backgrounUrl]="'../../../../assets/about/our-team/hero/hero.jpg'"
  [buttonContent]="''"
  [inputLink]="''"
>
  <h2>Our Team</h2>
  <p>
    At the heart of Coffee Coder Trading is a dynamic team of over 30 dedicated
    professionals with diverse backgrounds and extensive industry experience.
    Our team members are united by a shared passion for delivering superior
    financial solutions and unmatched client service.
  </p>

  <span (click)="openSubscriptionForm()" class="button-link-green"
    >Subscribe</span
  >
</app-page-hero>
