<app-page-hero
  [backgrounUrl]="'../../../../assets/about/our-team/hero/hero.jpg'"
  [buttonContent]="'SUBSCRIBE'"
  [inputLink]="''"
>
  <h2>Our Team</h2>
  <p>
    At the heart of Coffee Coder Trading is a dynamic team of over 30 dedicated
    professionals with diverse backgrounds and extensive industry experience.
    Our team members are united by a shared passion for delivering superior
    financial solutions and unmatched client service. Each senior professional
    is exclusively devoted to the success of our clients, ensuring a
    personalized and attentive approach to every financial endeavor. Together,
    we stand committed to guiding you through the intricacies of the financial
    world and helping you achieve your unique financial goals.
  </p>
</app-page-hero>
