@use "../src/global-styles/abstracts/colors" as a;
@use "../src/global-styles/base/utilities" as b;

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: a.$text-color;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  padding: 0;
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
