<!-- CONTROLLING HERO FROM OUTSIDE -->
<!-- [backgrounUrl]= HERO BACKGROUND IMAGE -->
<!-- [buttonContent]= GREEN BUTTON CONTENT, IF EXISTS STRING CONTENT IF NOT '' -->
<!-- [inputLink]=  LINK TO WHERE THE BUTTON IS TAKING US -->

<app-page-hero
  [backgrounUrl]="'../../../../assets/about/landingPage/hero.jpg'"
  [buttonContent]="''"
  [inputLink]="''"
>
  <!-- content of the hero -->
  <h2>What We Do</h2>
  <p>
    At Coffee Coder Trading, we are committed to delivering excellence in the
    realm of banking and investment management services. As a trusted financial
    partner, we offer a comprehensive suite of solutions designed to help you
    achieve your financial goals and secure your future.
  </p>

  <span (click)="openSubscriptionForm()" class="button-link-green"
    >Subscribe</span
  >
</app-page-hero>
