// container
$container-default-wudth: 130rem;
$container-large-width: 140rem;

// margin

// font-size
$font-size-heading: 4rem;
$font-size-sub-heading: 1.6rem;
$font-size-form-heading: 1.8rem;

$card-small-text: 1.2rem;

// height
$hero-height: 65rem;
